/* All common CSS files should start here */
*{
    margin: 0;
    padding: 0;
}
/* All common CSS files should end here */

.banner_part{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.664);
    padding: 300px 0px;
    text-align: center;
    color: white;
}